*{
    margin: 0;
    padding: 0;
}

.App{
    background-image: url('thumb-1920-661986.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-pokemon{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    margin-left: 15% ;
    margin-top: 5%;
}

.titulo-header{
    font-size: 5rem;
    color: yellow;
    font-weight: 700;
    text-shadow:3px 3px 20px white ;
    text-align: center;
    margin: 0 auto;
}

.btn-cargar{
  color: white;
  background: red;
  border-radius: 54px;
  border: 5px solid black;
  font-size:1rem;
  font-weight: 800;
  padding:15px 25px;
 text-align: center;
 margin: 25px;
}
 .btn-cargar:hover{
     background-color: white;
     color: red;
 }

 .logo{
     width: 30%;
 }

 @media (min-width:380px) and (max-width:500px){
    .container-pokemon{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        margin-left: 0;
    }
 }